@import url(http://fonts.googleapis.com/css?family=Gilda+Display);

h1 {
	font-family: 'Gilda Display', serif;
	font-size: 64px;
}

h2 {
	font-family: 'Gilda Display', serif;
	font-size: 28px;
}

body {
	background: white_sand;
}